.evp-single-video {
    &__header {
        margin: 15px 0;
    }

    &__title {
        word-break: break-word;
        font-size: 17px;
        line-height: 1.25;
        font-weight: 600;
        margin-bottom: 10px;
        white-space: normal;
        a {
            color: currentColor;
        }
    }

    &__meta {
        font-size: 14px;
        line-height: 1.25;
        a {
            color: #999;
        }
    }
}

.evp-playlist-video {
    border: 1px solid rgba(#000, 0.1);
    border-radius: 12px;
    overflow: hidden;
    padding: 10px 0 10px 0;
    &-index {
        &-item {
            display: flex;
            padding: 10px;
            border-bottom: 1px solid rgba(#000, 0.08);
            &:last-of-type {
                border-bottom: none;
                margin-bottom: 0;
            }
            &.is-hidden {
                display: none !important;
            }
            &.evp-currently-playing {
                background-color: var( --plyr-color-bg, #fff );
            }
        }
    }

    &-header {
        &-title {
            font-weight: bold;
            margin-bottom: 5px;
            padding: 0 10px;
        }
        padding: 0;
        margin-bottom: 5px;
        border-bottom: 1px solid rgba(#000, 0.08);
    }

    &__content {
        flex: 1;
    }

    &__image {
        margin-right: 10px;
        width: 100px;
        position: relative;
        cursor: pointer;
        align-self: start;
        &:after {
            display: block;
            width: 100%;
            padding-top: 56.25%;
            content: '';
        }
    }

    .evp-playlist-thumbnail-image {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        overflow: hidden;
        border-radius: 5px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__title {
        margin: 0 0 4px 0;
        font-size: 14px;
        line-height: 1.5;
        font-weight: 500;
        overflow: hidden;
        display: block;
        max-height: 42px;
        -webkit-line-clamp: 2;
        display: flex;
        text-overflow: ellipsis;
        white-space: normal;
        cursor: pointer;
    }

    &__meta {
        display: block;
        margin-right: 8px;
        text-overflow: ellipsis;
        overflow-x: hidden;
        white-space: nowrap;
        font-size: 13px;
        line-height: 1.25;
        font-weight: 400;
        overflow: hidden;
        display: block;
        max-height: 17px;
        -webkit-line-clamp: 1;
        a {
            color: #999;
        }
    }

    &-more-wrapper {
        margin: 5px 5px 0;
    }
}

.evp-wide.evp-video-player {
    .evp-playlist__container {
        display: flex;
        justify-content: space-between;
    }
    .evp-single-video {
        flex-basis: calc(100% - 375px);
    }
    .evp-playlist-video {
        width: 360px;
        &-index {
            height: auto;
            min-height: 360px;
            overflow-y: scroll;
        }
    }
}

.evp-narrow-list {
    .evp-playlist-video-index-item {
        display: none;
        &:nth-child(-n+5),
        &.evp-item-visible {
            display: flex;
        }
    }
}

button.evp-playlist-load-more {
    background: transparent !important;
    width: 100%;
    border: 1px solid rgba(#000, 0.1) !important;
    border-radius: 4px !important;
    box-shadow: none !important;
    text-align: center !important;
    padding: 15px !important;
    cursor: pointer !important;
    color: currentColor !important;
    line-height: 1 !important;
    min-height: none !important;
    max-height: none !important;
    &:hover,
    &:focus {
        background: transparent !important;
        border: 1px solid rgba(#000, 0.1) !important;
        box-shadow: none !important;
        color: currentColor !important;
    }
}

.evp-list__search {
    position: relative;
    border: none !important;
    border-radius: 0;
    padding: 8px 10px;
    width: 100%;
    min-width: 300px;
    background-color: #f7f7f7;
    input[type="text"] {
        border: none !important;
        outline: none !important;
        background: transparent !important;
        border-radius: 0 !important;
        box-shadow: none !important;
        padding: 7px !important;
    }
    label {
        margin: 0 0 0 20px !important;
    }
    .evp-list__search-icon {
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
        color: #aaa;
        font-size: 17px;
    }
    button {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        background-color: transparent !important;
        border: none !important;
        color: #aaa !important;
        width: 40px;
        height: 40px;
        padding: 0;
        box-shadow: none !important;
        font-size: 17px;
        outline: none !important;
        &:hover {
            color: #222;
        }
        display: none;
        .evp-search-opened & {
            display: block;
        }
    }
}
